html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* header */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
}

nav ul {

    list-style: none;
    font-family: arial;
    font-size: 13px;
    
}

nav li {
    display: inline-block;
    padding-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(64, 64, 64);
}

nav a:hover {
    text-decoration: underline
}

.align {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-icon {
    height: 16px;
    width: 16px;
}

.pfp {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


/* middle */
form {
    display: inline-block;
}

.format-search-bar {
    margin-top: 25px;
    margin-bottom: 35px;
    border-radius: 50px;
    height: 40px;
    width: 550px;
    border-width: thin;
    border-color: rgb(225, 225, 225);
    background-image: url("images/magnifying-glass.jpg");
    background-position: 2%;
    background-repeat: no-repeat;
    background-size: 30px;
    
}

.format-search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgb(225, 225, 225);
}

.format-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
}

button {
    height: 35px;
    width: 150px;
    font-size: 15px;
    margin-right: 10px;
    color: rgb(48, 48, 48);
    border-radius: 5px;
    border-width: thin;
    border-color: transparent;
    background-color: rgb(248, 248, 248);
}

button:hover {
    box-shadow: 0px 0.5px 1px 1px rgb(200, 200, 200);
}

input:focus {
    outline: none;
}

.mic { 
    width: 21px;
    height: 21px;
    transform: translate(1175%,-325%);
    display: block;
    margin: auto;
    border: none;
    background: transparent;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e8/Google_mic.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

/* footer */

.format-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    margin: 0;
    border-width: .5pt;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
}

footer ul {
    list-style: none;
    font-family: arial;
    font-size: 14px;
}

footer li {
    display: inline-block;
    padding-right: 30px;
}

footer a {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

footer a:hover {
    text-decoration: underline;
}

